* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

.Navigation {
  background-color: #2a2a2a;
  color: #dddddd;
  padding: 1rem;
}

.home {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 0 3rem;
}

.contactForm {
  max-height: 30rem;
  /* max-height: 28.5rem; */
  display: block;
  width: 100%;
  background-color: #202020;
  color: #dddddd;
  padding: 3rem 1rem;
  border-radius: 3px; /* background-color: blue; */
  /* margin-right: 2rem; */
  grid-row: 1/2;
}

.title {
  width: 90%;
  margin: 0 auto;
}

.contactForm *:not(:last-child) {
  margin-bottom: 1rem;
}

input:not([type="radio"]) {
  margin: auto;
  width: 90%;
  display: block;
  color: #dddddd;
  font-size: 0.93rem;
  font-family: inherit;

  padding: 0.93rem 1.25rem;
  border-radius: 2px;
  background-color: #2b2b2b;
  border: none;
  border-bottom: 3px solid transparent;
}

input[type="submit"] {
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #007dfc;
}

#typeContainer {
  width: 90%;
  margin: 0 auto;
}

#typeContainer input[value="Professional"] {
  margin-left: 1rem;
}

.contacts {
  margin-top: 1rem;
}

.contact {
  padding: 1rem;
  background-color: #2a2a2a;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 3px;
  color: white;
}

.contact *:not(:last-child) {
  margin: 0.5rem;
}

/* .contact.Professional {
  background-image: linear-gradient(to right bottom, #28b485, #7ed56f);
}
.contact.Personal {
  background-image: linear-gradient(to right bottom, #5643fa, #2998ff);
} */

.contact.Professional {
  background-image: linear-gradient(to right bottom, #07163b, #0d4872);
}
.contact.Personal {
  background-image: linear-gradient(to right bottom, #bd074d, #ec337a);
}

.contactType {
  color: white;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  vertical-align: middle;
}

.fas {
  margin-right: 0.5rem;
}

#searchBar__input {
  width: 100%;
}

button {
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
}

.disclaimer {
  font-size: 1rem;
  color: #007dfc;
  text-align: center;
}

.form__radio-group {
  width: 49%;
  display: inline-block;
  margin: 0;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 1rem 0;
  padding-left: 2.5rem;
}

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 4px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0.55rem;
  left: 0;
}

.radio_personal {
  border: 2px solid #ec337a;
}
.radio_professional {
  border: 2px solid #007dfc;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.radio_personal::after {
  background-color: #ec337a;
}

.radio_professional::after {
  background-color: #007dfc;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
@media (max-width: 418px) {
  .container {
    margin: 0 0.5rem;
  }
}
